BOT_TOKEN=your_secret_token
BOT_PORT=8001
EMAIL_ADDRESS=your_email@example.com
EMAIL_PASSWORD=your_password
EMAIL_IMAP_SERVER=webreus.email
EMAIL_SMTP_SERVER=webreus.email
EMAIL_SMTP_PORT=587
NOTIFY_EMAIL=info@epb-philips.be
PERSONAL_NOTIFY_EMAIL=jan.kunnen@hotmail.com
ACCOUNT_EMAIL=your_dashboard_email@example.com
ACCOUNT_PASSWORD=your_dashboard_password
